body {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(228, 228, 228);
}


/*******Nav Bar********************************************/

nav {
    background-color: black;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0px;
}

nav ul li :hover {
    background-color: #ccc;
    color: #000;
}

nav ul li a {
    color: white;
    display: inline-block;
    padding: 10px;
}


/*********search icon***************************************/

.rightd {
    float: right;
    margin: 0px;
    overflow: hidden;
}


/*Title****************************************************/

header {
    background-color: white;
    text-align: center;
    margin: 0px;
}

.p1 {
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 50px;
    margin: 0px;
}

.s-font {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: 0px;
    margin: 10px;
}

.h-font {
    background-color: black;
    color: white;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 500;
}

.container {
    position: relative;
    text-align: left;
    margin: 0px;
}

.container img {
    max-width: 100%;
    height: auto;
}

.button-left {
    position: absolute;
    top: 40%;
    left: 25px;
}

header div .A-title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
    padding: 0px;
    color: white;
}

header div .B-title {
    font: bold;
    font-size: 60px;
    margin: 10px;
    padding: 0px;
    color: white;
}

header .container button {
    background-color: rgba(204, 204, 204, 0.637);
    margin: 0px;
    padding: 12px 24px;
    text-align: center;
    font-size: 18px;
}
/*******main*****************************************************/
.fcontent{
    display: inline-block;
    float: left;
    box-sizing: border-box;
}
/********Left Side************************************************/
.left-side {
    float: left;
    width: 65%;
    box-sizing: border-box;
    margin: 10px;
    padding: 15px;
}
.subject, .subject1 {
    background-color: white;
    margin: 30px  0px;
    padding: 30px;
    box-sizing: inherit;
    max-width: 1000px;
    min-height: 1060px;
    text-align: center;
}

.ArticleA {
    width: 100%;
    text-align: justify;
    font-family: "Open Sans";
}

.headingC {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 0px;
}

.section .mainpic {
    padding: 25px;
    margin: 50px;
    min-width: 800px;
}

.b-like {
    position: inherit;
    text-align: center;
    float: left;
}

.b-like button {
    background-color: white;
    margin: 0px;
    padding: 12px 24px;
    text-align: center;
    font-size: 18px;
    border-style: solid;
    border-width: 1px;
}

.b-like button:hover {
    background-color: #ccc;
}

.b-reblies {
    position: inherit;
    text-align: center;
    float: right;
}

.b-reblies button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 3px;
    padding: 12px 24px;
    text-align: center;
    font-size: 18px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.b-reblies button:hover {
    background-color: #ccc;
}
.num {
    padding: 2px 5px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    display: inline;
}
.hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.avatar1, .avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 10px;
    box-sizing: inherit;
}
.clear {
    clear: both;
}
.fon-0 {
    padding: 0px;
    text-align: left;
    float: left;
    box-sizing: inherit;
}
.fon-1 {
    color: rgba(148, 153, 155, 0.795);
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 200;
}

/********Right Side************************************************/
.right-side {
   float: left;
   width: 25%;
   box-sizing: border-box;
   margin: 30px 0px;
   padding: 25px 0px;
}
.name {
    width: 100%;
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.name.img {
    margin: 0px;
    padding: 0px;
}
.name .span {
    margin: 0px;
}
.name .p {
    margin: 0px;
}
.pragraph {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: white;
    text-align: justify;
    padding: 10px;
}
.space {
    box-sizing: border-box;
    margin: 15px 0px;
    background-color: white;
    padding: 0px ;
    padding-bottom: 10px;
}
.sectionheader{
   padding-left: 10px;
    margin: 0px;
    height: 40px;
    background-color: black;
    color: white;
}
.sectionheader .p{
    padding: 10px;
    font-weight: 50;
    font-size: 20px;
}
.secbody{
    width: 100%;
    height: 90px;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 0px;
}
.secbody:hover{
    background-color: #c1c1c1;
}
.sectionbody2 {
    text-align: center;
    padding: 100px 0px;
    background-color: white;
}
.sectionbody2 span{
    background-color: #F1F1F1;
    padding: 90px;
}
.sectionbody3{
    padding: 0px 10px;
    background-color: white;
}
.sectionbody3 span {
    padding: 8px;
    margin: 5px;
    display: inline-block;
    background-color: #F1F1F1
}
.sectionbody3 .firstspan{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.sectionbody4{
    box-sizing: border-box;
    background-color: #F1F1F1;
}
.sectionbody4 div{   
    box-sizing: border-box;
    width: 50%;
    height: 150px;
    padding: 10px;
    float: left;
}
.place2{
    width: 100%;
    height: 270px;
    text-align: center;
}
.pside{
    display: block;
}
.place2 img{
    display: inline-block;
    width: 50%;
    height: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.icon2 {
    font-size: 30px;
    font-weight: 100;
    padding-left: 10px;
}
.place3{
    width: 100%;
    background-color: white;
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 50;
}
.place3 button {
    background-color: red;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 93%;
    height: 40px;
    margin: 10px;
    font-size: 15px;
    border: none;
}
/******clear*******************************************************/
.clear{
    clear: both;
}
/********footer****************************************************/
footer{
     background-color: #616161;
     padding: 30px;
     font-size: 16px;
 }
 footer button{
     background-color: black;
     color: white;
     padding: 15px 25px;
     border: none;
     font-size: 17px;
 }
 footer button:hover{
    background-color: #c1c1c1;
    color: black;
 }
 footer button i{
     margin: 0px 10px;
 }
 .fposition button .top {
   
   color: rgb(255, 255, 255);
   text-decoration: none;
}
 footer p{
    color: white;
    font-family: 'open sans';
    padding-top: 25px;
}
 footer p a{
    color: white;
    font-family: 'open sans';
 }
 /*Mobile*/
 /*@media (max-width: 767px) {
    .fcontent {
    display: block;
    margin: 20px;
    }
    .left-side {
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    }
    .subject {
    background-color: white;
    padding: 30px;
    margin: 10px;
    box-sizing: inherit;
    min-height: 920px;
    text-align: center;
    }
    .right-side {
    float: left;
    width: 100%;
    box-sizing: inherit;
    padding: 0px;
    }
    header .container button {
    padding: 6px 12px;
    font-size: 18px;
    }
    .button-left {
    position: absolute;
    top: 10%;
    left: 25px;
    }
    header div .B-title {
    font-size: 25px;
    margin: 5px;
    }
 }*/
 /*small screen*/
 @media (max-width:720px) {
    .fcontent {
        display: block;
        margin: 20px;
    }
    .subject,.subject1 {
        background-color: white;
        padding: 30px;
        margin: 10px;
        box-sizing: inherit;
        min-height: 750px;
        text-align: center;
    }
    .subject1{
        min-height: 970px;
    }
    .left-side {
        float: left;
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    .right-side {
        float: left;
        width: 100%;
        box-sizing: inherit;
        padding: 0px;
    }
    header .container button {
        padding: 6px 12px;
        font-size: 18px;
    }
    header div .B-title {
        font-size: 25px;
        margin: 5px;
    }
    .button-left {
        position: absolute;
        top: 10%;
        left: 25px;
    }
    .b-like button,.b-reblies button {
        padding: 6px 12px;
        font-size: 16px;
    }
    .avatar1 {
        width: 35px;
        height: 35px;
        padding: 5px;
    }
    .place2 {
        width: 100%;
        height: 860px;
        text-align: center;
    }
    .place2 img {
    /* display: inline-block; */
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
}
 /*meduim screen*/
 @media (min-width: 992px) {
     
 }
 /*large screen*/
 @media (min-width: 1200px) {
     
 }
 
 /*
@media (max-width:720px) {
    .fcontent {
    display: block;
    margin: 20px;
  }
  .subject {
    background-color: white;
    padding: 30px;
    margin: 10px;
    box-sizing: inherit;
    min-height: 920px;
    text-align: center;
  }
  .left-side {
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  .right-side {
    float: left;
    width: 100%;
    box-sizing: inherit;
    padding: 0px;
  }
  header .container button {
    padding: 6px 12px;
    font-size: 18px;
}
header div .B-title {
    font-size: 25px;
    margin: 5px;
}
.button-left {
    position: absolute;
    top: 10%;
    left: 25px;
}
} 